
#headwrap{
    height:75px;
    background:yellow;
    position:fixed;
    z-index:99999999;
}
#homeRow1{
    background:url(../images/overlay.png);
    box-shadow:inset 0 4px 10px rgba(0,0,0, 0.50);
}
#cpara{
    font-family:century gothic;
    text-align: center;
    
}


